* {
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu,
    Cantarell, Fira Sans, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
  z-index: 100;
}

.nav {
  background-color: #00a884;
  color: white;
  position: absolute;
  /* z-index: -1; */
  width: 100%;
  height: 22%;

  display: flex;
  align-items: baseline;
  padding-left: 22%;
  padding-top: 1%;

  font-weight: bold;
  font-size: 14px;
  display: flex;
}

.rest {
  background-color: #dcdedd;
  position: absolute;
  /* z-index: -2; */
  top: 22%;
  width: 100%;
  height: 100%;
}

.white-sheet {
  background-color: white;
  box-shadow: 0 17px 50px 0 rgb(11 20 26 / 19%),
    0 12px 15px 0 rgb(11 20 26 / 24%);
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 10%;
  right: 0;
  /* bottom: -5%; */
  left: 0;
  width: 47%;
  height: 103%;
  font-size: large;

  display: flex;
  flex-direction: column;
}

.upper {
  height: 50%;
}

.Box {
  display: flex;
  width: 100%;
  height: 100%;
}

.steps {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6%;
}

.qr {
  width: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-weight: 350;
}

a {
  font-size: small;
  color: #000052;
}

ol {
  line-height: 40px;
}

.lower {
  height: 50%;
  background-color: #f9f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  height: 50px;
  width: 50px;
}
/* 
div {
  outline: 1px solid red !important;
} */
